[submodule "test/support/chai"]
	path = test/support/chai
	url = https://github.com/chaijs/chai
[submodule "test/support/mocha"]
	path = test/support/mocha
	url = https://github.com/visionmedia/mocha
[submodule "vendor/pjs"]
	path = vendor/pjs
	url = https://github.com/jayferd/pjs
