/*
 * LaTeX Math in pure HTML and CSS -- No images whatsoever
 * v0.xa
 * by Jay and Han
 * Lesser GPL Licensed: http: //www.gnu.org/licenses/lgpl.html
 * 
 * This file is automatically included by mathquill.js
 * 
 */

@font-face {
  font-family: Symbola;
  /*src: url(font/Symbola.eot); Horridly aliased! */
  src: local("Symbola Regular"), local("Symbola"),
    url(font/Symbola.ttf) format("truetype"),
    url(font/Symbola.otf) format("opentype"),
    url(font/Symbola.svg) format("svg");
}
/*@font-face {
  font-family: STIX;
  src: url(font/STIXBeta/STIXGeneral.otf) format("opentype");
}
@font-face {
  font-family: STIXItalic;
  src: url(font/STIXBeta/STIXGeneralItalic.otf) format("opentype");
}*/

.mathquill-editable, .mathquill-textbox {
  display: -moz-inline-box;
  display: inline-block;
  border: solid gray 1px;
  white-space: pre-wrap;
}

.mathquill-rendered-math {
  color: black;
  background-color: white;
  font-family: "Times New Roman", serif;
  font-size: 110%;
  line-height: 1;
  position: relative;
  outline: none;
  padding: 2px;
}
.mathquill-rendered-math var, .mathquill-rendered-math .nonSymbola {
  font-family: "Times New Roman", serif;
}
.mathquill-rendered-math * {
  color: inherit;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
  display: -moz-inline-box;
  display: inline-block;
  margin: 0;
  padding: 0;
  cursor: text;
}
.mathquill-editable.hasCursor, .mathquill-textbox.hasCursor, .mathquill-rendered-math .hasCursor {
  outline: solid rgb(180,230,255) 2px;
  outline: solid rgba(0,155,255,.2) 2px;
}

.mathquill-rendered-math .cursor {
  border-left: 1px solid black;
  margin-right: -1px;
  display: inline;
  position: relative;
  z-index: 1;
}

.mathquill-rendered-math .cursor.blink {
  visibility: hidden;
}

/* *** FIXME *** This is kind of a hack and is not supported in IE6 */
.mathquill-editable .cursor:only-child:after {
  visibility: hidden;
  content: 'c';
}
.mathquill-editable .text .cursor:after {
  content: '';
}
.mathquill-textbox:after {
  visibility: hidden;
  content: '.';
}
.mathquill-textbox {
  overflow-x: auto;
}

.mathquill-rendered-math .empty {
  color: silver;
}
.mathquill-rendered-math.empty {
  cursor: text;
}

.mathquill-rendered-math .text {
  display: inline;
}

.mathquill-rendered-math var { /* variables -- just in case you do something weird to your <var>'s */
  font-style: italic;
  font-weight: normal;
}
.mathquill-rendered-math var.florin { /* florin looks so much better than italic f */
  margin: 0 -.1em;
}

.mathquill-rendered-math big {
  font-size: 125%;
}

.mathquill-rendered-math sup, .mathquill-rendered-math sub {
  position: relative;
  font-size: 90%;
}
.mathquill-rendered-math sup {
  vertical-align: .5em;
}
.mathquill-rendered-math sub {
  vertical-align: -.4em;
}

.mathquill-rendered-math .binary-operator {
  padding: 0 .2em;
}

.mathquill-rendered-math .unary-operator {
  padding-left: .2em;
}

.mathquill-rendered-math .fraction {
  font-size: 90%;
  text-align: center;
  vertical-align: -.5em;
  padding: 0 .1em;
}
.mathquill-rendered-math .numerator, .mathquill-rendered-math .denominator {
  display: block;
}
.mathquill-rendered-math .numerator {
  border-bottom: solid #222 1px; /* black is too black, contrasts with antialised text */
  padding: 0 .1em;
}
.mathquill-rendered-math .denominator {
  border-top: solid #222 1px;
  float: right; /* take out of normal flow to manipulate baseline */
  width: 100%;
}

.mathquill-rendered-math sup .fraction, .mathquill-rendered-math sub .fraction {
  font-size: 70%;
  vertical-align: -.4em;
}
.mathquill-rendered-math sup .numerator, .mathquill-rendered-math sub .numerator {
  border-bottom: none;
  padding-bottom: 0;
}
.mathquill-rendered-math sup .denominator, .mathquill-rendered-math sub .denominator {
  padding-top: 0;
}

.mathquill-rendered-math .latex-command-input {
  border: solid gray 1px;
  padding-right: 1px;
  margin-right: 1px;
  margin-left: 2px;
}
.mathquill-rendered-math .latex-command-input.empty {
  color: transparent;
}
.mathquill-rendered-math .latex-command-input:before {
  color: black;
  content: '\\';
}
.mathquill-rendered-math .latex-command-input:before, .mathquill-rendered-math .latex-command-input * {
  font-family: "Courier New", monospace;
  font-style: normal;
}

.mathquill-rendered-math .sqrt-prefix {
  vertical-align: top;
  position: relative;
  top: 2px;
}
.mathquill-rendered-math .sqrt-stem {
  border-top: 1px solid black;
  margin-top: 1px;
  padding-left: 2px;
  padding-right: .2em;
  margin-right: .1em;
}

.mathquill-rendered-math .paren {
  vertical-align: bottom;
  position: relative;
}

.mathquill-rendered-math .selection, .mathquill-rendered-math .selection sup, .mathquill-rendered-math .selection sub {
  background-color: #ADF;
}
.mathquill-rendered-math .selection.blur, .mathquill-rendered-math .selection.blur sup, .mathquill-rendered-math .selection.blur sub {
  background-color: lightgray;
}

.mathquill-rendered-math .non-italicized-function {
  padding-right: .2em;
}

/*.mathquill-rendered-math .not {
  margin-right: -.75em;
}*/
