/*
 * LaTeX Math in pure HTML and CSS -- No images whatsoever
 * v0.xa
 * by Jay and Han
 * Lesser GPL Licensed: http: //www.gnu.org/licenses/lgpl.html
 * 
 * This file is automatically included by mathquill.js
 * 
 */

@font-face {
  font-family: Symbola;
  src: url(font/Symbola.eot);
  src: local("Symbola Regular"), local("Symbola"),
    url(font/Symbola.ttf) format("truetype"),
    url(font/Symbola.otf) format("opentype"),
    url(font/Symbola.svg#webfont7MzkO3xs) format("svg");
}

.mathquill-editable {
  display: -moz-inline-box;
  display: inline-block;
  border: 1px solid gray;
  padding: 2px;
}
.mathquill-textbox {
  overflow-x: auto;
  overflow-y: hidden; /*so IE8 won't show a vertical scrollbar*/
}
.mathquill-editable.empty, .mathquill-editable * {
  cursor: text;
}

.mathquill-editable .textarea {
  position: relative;
  display: inline; /*so Firefox 3.6 (Gecko 1.9.2) won't wrap the box to 2 lines*/
}
.mathquill-editable .textarea textarea {
  position: absolute;
  z-index: -1;
  height: 1px;
  width: 1px;
  opacity: 0;
  border: none;
  outline: none;
}

.mathquill-editable .cursor {
  border-left: 1px solid black;
  margin-right: -1px;
  display: inline;
  position: relative;
  z-index: 1;
}
.mathquill-editable .cursor.blink {
  visibility: hidden;
}
.mathquill-textbox:after,
.mathquill-editable .cursor:only-child:after,
.mathquill-editable .textarea:only-child:after,
.mathquill-editable .textarea+.cursor:last-child:after {
  visibility: hidden;
  content: 'c';
}

.mathquill-editable .selection,
.mathquill-editable .selection .mathquill-rendered-math,
.mathquill-editable .selection sup, .mathquill-editable .selection sub {
  background-color: #ADF;
}
.mathquill-editable .selection.blur,
.mathquill-editable .selection.blur .mathquill-rendered-math,
.mathquill-editable .selection.blur sup,.mathquill-editable .selection.blur sub {
  background-color: #CCC;
}
.mathquill-editable .selection .selection.blur,
.mathquill-editable .selection .selection.blur sup,
.mathquill-editable .selection .selection.blur sub {
  background-color: #ABF;
}
.mathquill-editable .selection.blur .selection.blur,
.mathquill-editable .selection.blur .selection.blur sup,
.mathquill-editable .selection.blur .selection.blur sub {
  background-color: #DDD;
}

.mathquill-textbox, .mathquill-rendered-math {
  white-space: pre-wrap;
  font-family: Symbola, "Times New Roman", serif;
}
.mathquill-rendered-math {
  font-variant: normal;
  font-weight: normal;
  font-style: normal;
  font-size: 115%;
  line-height: 1;
  display: -moz-inline-box;
  display: inline-block;
}
.mathquill-rendered-math var, .mathquill-rendered-math .nonSymbola {
  font-family: "Times New Roman", serif;
}
.mathquill-rendered-math * {
  font-size: inherit;
  line-height: inherit;
  display: -moz-inline-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.mathquill-editable.hasCursor, .mathquill-editable .hasCursor {
  outline: 2px solid rgb(205,235,255);
  outline: 2px solid rgba(0,155,255,.2);
}

.mathquill-rendered-math .empty {
  background-color: lightgray;
}
.mathquill-rendered-math.empty {
  background-color: inherit;
}

.mathquill-rendered-math .text {
  display: inline;
  font-size: 87%;
}

.mathquill-rendered-math var { /* variables, in case the user does something weird to their <var>'s */
  font-style: italic;
  font-weight: normal;
}
.mathquill-rendered-math var.florin { /* florin looks so much better than italic f */
  margin: 0 -.1em;
}

.mathquill-rendered-math big {
  font-size: 125%;
}

.mathquill-rendered-math sup, .mathquill-rendered-math sub {
  position: relative;
  font-size: 90%;
}
.mathquill-rendered-math sup {
  vertical-align: .5em;
}
.mathquill-rendered-math sub {
  vertical-align: -.4em;
}
.mathquill-rendered-math sup.limit, .mathquill-rendered-math sub.limit {
  font-size: 80%;
}
.mathquill-rendered-math sup.limit {
  vertical-align: .8em;
}
.mathquill-rendered-math sub.limit {
  vertical-align: -.6em;
}

.mathquill-rendered-math .binary-operator {
  padding: 0 .2em;
}
.mathquill-rendered-math .unary-operator {
  padding-left: .2em;
}
.mathquill-rendered-math sup .binary-operator,
.mathquill-rendered-math sub .binary-operator {
  padding: 0 .1em;
}
.mathquill-rendered-math sup .unary-operator,
.mathquill-rendered-math sub .unary-operator {
  padding-left: .1em;
}

.mathquill-rendered-math .fraction {
  font-size: 90%;
  text-align: center;
  vertical-align: -.5em;
  padding: 0 .1em;
}
.mathquill-rendered-math .fraction, x:-moz-any-link { /* Firefox 2 (and older?) only */
  display: -moz-groupbox; /* because display:inline-block is FUBAR in Gecko < 1.9.0 */
}
.mathquill-rendered-math .fraction, x:-moz-any-link, x:default { /* Firefox 3+ (Gecko 1.9.0+) */
  display: inline-block;
}
.mathquill-rendered-math .numerator, .mathquill-rendered-math .denominator {
  display: block;
}
.mathquill-rendered-math .numerator {
  border-bottom: 1px solid #222; /* black is too black, contrasts with antialised text */
  padding: 0 .1em;
}
.mathquill-rendered-math .denominator {
  border-top: 1px solid #222;
  float: right; /* take out of normal flow to manipulate baseline */
  width: 100%;
}

.mathquill-rendered-math sup .fraction, .mathquill-rendered-math sub .fraction {
  font-size: 70%;
  vertical-align: -.4em;
}
.mathquill-rendered-math sup .numerator, .mathquill-rendered-math sub .numerator {
  border-bottom: none;
  padding-bottom: 0;
}
.mathquill-rendered-math sup .denominator, .mathquill-rendered-math sub .denominator {
  padding-top: 0;
}

.mathquill-rendered-math .latex-command-input {
  color: inherit;
  font-family: "Courier New", monospace;
  border: 1px solid gray;
  padding-right: 1px;
  margin-right: 1px;
  margin-left: 2px;
}
.mathquill-rendered-math .latex-command-input:before {
  content: '\\';
}
.mathquill-rendered-math .latex-command-input.empty {
  background-color: transparent;
}

.mathquill-rendered-math .sqrt-prefix {
  vertical-align: top;
  position: relative;
  top: 2px;
}
.mathquill-rendered-math .sqrt-stem {
  border-top: 1px solid black;
  margin-top: 1px;
  padding-left: 2px;
  padding-right: .2em;
  margin-right: .1em;
}

.mathquill-rendered-math .paren {
  vertical-align: bottom;
  position: relative;
}

.mathquill-rendered-math .array {
  vertical-align: middle;
  text-align: center;
}

.mathquill-rendered-math .array > span {
  display: block;
}

.mathquill-rendered-math .non-italicized-function {
  padding-right: .2em;
}

/*.mathquill-rendered-math .not {
  margin-right: -.75em;
}*/
