html {
  background-color: #ddf;
  height: 100%;
}
body {
  min-height: 100%;
  max-width: 6.5in;
  margin: 0 auto;
  font-family: Georgia, serif;
  color: black;
  background-color: white;
  box-shadow: 0 0 1em black;
  -moz-box-shadow: 0 0 1em black;
  -webkit-box-shadow: 0 0 1em black;
}
#body {
  padding: 1em;
}
h1 {
  font-size: 2em;
  margin: 0;
}
h1 small {
  font-size: 60%;
}
code {
  font: 90% monospace;
  background: #ddd;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  padding: 0 0.3em;
}
code:hover {
  color: #ddd;
  background: #222;
}
a {
  color: mediumblue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-shadow: #40f 0 0 0.2em;
}
a:active {
  color: #400;
  text-shadow: red 0 0 0.2em;
}
ul {
  padding-left: 1em;
}
