@import "./mixins/css3";

.mathquill-editable, .mathquill-rendered-math {
  .textarea {
    position: relative;

    // TODO: why is this here?
    .user-select(text);
  }

  .textarea textarea, .selectable {
    .user-select(text);
    // the only way to hide the textarea
    // *and the blinking insertion point* in IE
    position: absolute;
    clip: rect(1em 1em 1em 1em);
  }
}
